.App {
  background: linear-gradient(#283E51, #4B79A1, #C4E0E5);
  text-align: center;
  height: 100vh;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapperSmall {
  width: 80%;
  margin: 0 auto;
}

/* Strip general styles from elements */

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  border: 2px solid #9b3943;
  /* border-radius: 50%; */
}

p {
  padding: 0;
  margin: 0;
}

/* General Text styles */

body {
  color: #EBEAE9;
  /* color: #d2d0d4; */
}

/* Style Header */

header {
  position: relative;
  top: 50vh;
}

/* Style dynamic li's */

:root {
  --rowNum: 4;
  --colNum: 5;
  --gridHeight: 120px;
  --wrapperH: 40px;
}

.wrapper { 
  height: var(--wrapperH);
}


.listContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
  grid-gap: 10px 15px;
  justify-items: center;
  align-items: center;
}


