.App {
  background: linear-gradient(#283E51, #4B79A1, #C4E0E5);
  text-align: center;
  height: 100vh;
}

/* Strip general styles from elements */

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

/* General Text styles */

body {
  color: #EBEAE9;
}

/* Style Header */

header {
  position: relative;
  top: 60vh;
}

/* Style dynamic li's */

.listContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}


